@model Coffee_Shop_Registration.Controllers.Results

@{
    ViewData["Title"] = "Results";
}

<div>
    Welcome to the Coffee Shop @ViewData["UserFirstName"] 
    <h2>@ViewData["UserFirstName"] @ViewData["UserLastName"]</h2>
    <p> <b>Email:</b> @ViewData["Email"]          </p>
    <p> <b> Password:</b> @ViewData["Password"]             </b>           </p>






</div>



<h1>Results</h1>

<h4>Results</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Results">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
